@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EzpeletaNetCore8</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/EzpeletaNetCore8.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/fontawesome-free-6.5.2-web/css/all.min.css" />

</head>

<body>

    @if (SignInManager.IsSignedIn(User))
    {

        <div class="d-flex container-expand h-100">
            <div class="flex-column menu hidden">
                <span class="nav-link h2" style="color: white;">SupperApp</span>
                <a class="list-group-item list-group-item-action bg-items p-3" href="~/Home/Index"> <i
                        class="fas fa-columns"></i>
                    Panel General</a>
                <a class="list-group-item list-group-item-action bg-items p-3" href="~/TipoEjercicios/Index"> <i
                        class="fas fa-person-walking"></i> Tipo de Ejercicios</a>
                <a class="list-group-item list-group-item-action bg-items p-3" href="~/EjerciciosFisicos/Index"><i
                        class="fas fa-dumbbell"></i> Ejercicios Físicos</a>
            </div>


            <div class="container-fluid h-100 p-0">
                <div class="navbar">
                    <div class="container-fluid">
                        <button class="btn-menu" onclick="toggleMenu()">
                            <i class="fas fa-bars"></i>
                        </button>
                        <div class="dropdown">
                            <partial name="_LoginPartial" />
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="container-fluid p-0">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    }


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/fontawesome-free-6.5.2-web/js/all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>