@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
    <h1 class="display-4 mt-2 title-principal">Bienvenido al "LIMITE INFINITO"</h1>
    <p>Aplicacion en desarrollo...</p>
</div>
<section id="HomeSection">


<div class="container-expand">
    <h2 class="text-center mb-4 title-principal">Poné tu cuerpo en movimiento.</h2>
    <hr class="hr-title">
     <div class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Cardio</h5>
        <p class="card-text">Quema calorías y aumenta tu energía con nuestro entrenamiento de cardio. ¡Empieza a moverte hoy mismo!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Fuerza</h5>
        <p class="card-text">Construye músculos fuertes y tonificados con nuestro programa de entrenamiento de fuerza. ¡Descubre tu potencial!</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Yoga</h5>
        <p class="card-text">Encuentra equilibrio y serenidad con nuestras clases de yoga. ¡Conéctate contigo mismo y alcanza la paz interior!</p>
      </div>
    </div>
  </div>
</div>
  </div>

</div>


</section>
<section id="AnimateSection">
    <div class="container-animate">
         <h1 class="title-animate">¡ANIMATE!</h1>
    </div>
</section>


