@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<link rel="stylesheet" href="~/css/FormSection-sesion.css" asp-append-version="true" />

<section id="FormSection-sesion">

    <hr />
    <div class="container-form" id="">

        <div class="">
            <form method="post" class="form_main">
                <h1 class="heading">@ViewData["Title"]</h1>
                <h2 class="heading">Enter your email.</h2>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="inputContainer">
                    <i class="fa-solid fa-envelope inputIcon"></i>
                    <input asp-for="Input.Email" class="inputField" autocomplete="username" aria-required="true"
                        placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <button id="button" type="submit">Reset Password</button>
            </form>
        </div>
    </div>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

</section>