@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<link rel="stylesheet" href="~/css/FormSection-sesion.css" asp-append-version="true" />

<section id="FormSection-sesion">

    <div class="container-form" id="Login">
        <div class="">
            <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form_main">
                
<h1>@ViewData["Title"]</h1>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="inputContainer">
                    <i class="fa-solid fa-envelope inputIcon"></i>
                    <input asp-for="Input.Email" class="inputField " autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <i class="fa-solid fa-lock inputIcon"></i>
                    <input asp-for="Input.Password" class="inputField " autocomplete="new-password" aria-required="true" placeholder="password" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="inputContainer">
                    <i class="fa-solid fa-lock inputIcon"></i>
                    <input asp-for="Input.ConfirmPassword" class="inputField " autocomplete="new-password" aria-required="true" placeholder="confirm password" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button id="button" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>

                  <!-- Enlace para iniciar -->
                    <a class="forgotLink" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login
                        user</a>
            </form>
        </div>
    </div>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</section>
